*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body{
    display: block;
    background-color: black;
}

#card{
    position: absolute;
    overflow: auto;
    margin: auto;
    padding: 2%;
    color: white;
    top: 0; left: 0; bottom: 0; right: 0;
}


img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.divimg{
    text-align: center;
}

.divbtn{
    text-align: center;
}

.textbutton {
    background: white;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.button {
    background: white;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.button:hover {
    background: lightgray;
}

#particles-js{
    background-color: black;
}

